<?xml version="1.0" encoding="utf-8"?><!--ライセンス表示用ツールバーを設定しました　笛木より-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.driveandroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- カメラ用 -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 端末カメラ起動 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MoneyInsertActivity" />
        <!--カメラ保存用処理 supportとつくものは基本的に古いらしい-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.driveandroid"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBspJAXqJWxiiXuPZ5XszRkqXf7tN2GJkc" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".DaoActivity" />
        <activity android:name=".FolderDetailActivity" />
        <activity android:name=".FolderListActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FolderCreateActivity"
            android:label="@string/main" />
        <activity android:name=".SupportActivity" />
        <activity
            android:name=".PolicyActivity"
            android:label="@string/main" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity" />
    </application>

</manifest>